[Unit]
Description=ti bluetooth Service
SourcePath=/usr/bin/uim-sysfs
Before=multi-user.target
After=watchdog.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/bin/uim-sysfs start
ExecStop=/usr/bin/uim-sysfs stop

[Install]
WantedBy=multi-user.target
